
/* --------- STANDARD TAG STYLES ----------------------*/
/* =================================================== */

html, body, input, textarea {
	margin: 0;
	font: 1em "Roboto", sans-serif;
	color: #0c0c0c;
	background-color: #fff;
}

h1, h2, h3 {
	color: #204c71; /* headline color */
}

input, p, textarea, blockquote, code, h4, h5, h6 {
	color: #0c0c0c; /* text color */
}

a {
	color: #171177; /*background may change */
}

a:hover {
	text-decoration: none;
}

a:visited, a:hover {
	color: #12125b; /*background may change */
}

a.table-header {
	color: #ffffff;
}

a.table-header:hover, a.table-header:visited {
	color: #ffffff;
}

/* --------- TABLE STYLES -----------------------------*/

table {
	border-collapse: collapse;
	border-spacing: 0px;
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
	width: 100%;
}

th {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	color: #ffffff;
	background-color: #a3b8cc !important;
}

th, td {
	border: 1px solid  #eee;
	padding: 6px;
}

tr:nth-child(even) {
	background-color: #eee;
}

tr:hover {
	background-color: #ddd;
}


/* --------- PAGE AND MENU STYLES ---------------------*/
/* =================================================== */

.body {
	max-width: 1200px;
	margin: auto;
}

.menubar {
	background-color: #eee !important
}

.menuitem {
	color: #0c0c0c !important;
	background-color: #eee !important;
	text-decoration: none !important;
	cursor: pointer;
}

.menuitem:hover, .menuitem:focus {
	color: #0c0c0c !important;
	background-color: #a3b8cc !important
}

/* for Google graphs of statistics */
.show_hover:hover {
	cursor: pointer;
}

/* --------- EFACLOUD LOG DISPLAY STYLES ---------- */
/* For logfile display selection */
.hiddendiv {
	display: none;
}

.apiActivity:focus ~ #apiActivity {
	display: block;
}

.serverWarnings:focus ~ #serverWarnings {
	display: block;
}

.serverErrors:focus ~ #serverErrors {
	display: block;
}

/* --------- FORM ELEMENT STYLES --------------------- */
/* =================================================== */

/* --------- FORM BUTTON STYLES -----------------------*/

.formbutton {
	color: #0c0c0c !important;
	background-color: #eee !important;
	text-decoration: none !important;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 0px;
	text-transform: uppercase;
	font-size: 0.9em;
	padding: 8px 6px 8px 6px;
	line-height: 120%;
	box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2);
}


.formbutton:hover, .formbutton:focus {
	color: #0c0c0c !important;
	background-color: #a3b8cc !important
}

.forminput, .formselector {
	border: 2px solid transparent;
	border-bottom: 2px solid #a3b8cc;
	border-radius: 0px;
	color: #0c0c0c;
	background-color: #eee !important;
	font-size: 1.0em;
	line-height: 1.5em;
	padding: 2px 6px 2px 6px;
}

.forminput:hover, .forminput:focus, .formselector:hover, .formselector:focus {
	border: 2px solid #a3b8cc;
	color: #0c0c0c;
	background-color: #ffff44 !important;
}

.helptext {
	font-size: 90%
}

/* --------- CHECKBOX AND RADIO BUTTON STYLES ---------*/

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox */
/* The container */
.cb-container {
	display: block;
	position: relative;
	padding-left: 25px;
	padding-right: 3px;
	margin-bottom: 6px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.cb-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.cb-checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border: 1px solid #a3b8cc;
}

/* Create a custom radio */
.cb-radio {
	position: absolute;
	top: 4px;
	left: 2px;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background-color: #eee;
	border: 1px solid #a3b8cc;
}

/* On mouse-over, add a grey background color */
.cb-container:hover input ~ .cb-checkmark, .cb-container:hover input 
	 ~ .cb-radio {
	background-color: #ffff44;
	border: 2px solid #a3b8cc;
}

/* When the checkbox|radio) is checked, add a accent color background */
.cb-container input:checked ~ .cb-checkmark, .cb-container input:checked 
	~ .cb-radio {
	background-color: #a3b8cc;
}

/* Create the checkmark|radio/indicator (hidden when not checked) */
.cb-checkmark:after, .cb-radio:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.cb-container input:checked ~ .cb-checkmark:after,
	.cb-container input:checked ~ .cb-radio:after {
	display: block;
}

/* Style the checkmark/indicator */
.cb-container .cb-checkmark:after {
	left: 7px;
	top: 5px;
	width: 4px;
	height: 6px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Style the radio/indicator */
.cb-container .cb-radio:after {
	top: 5px;
	left: 5px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
}

/* --------- SELECT DROPDOWN STYLES -------------------*/

/* https://blog.kulturbanause.de/2015/03/formular-styling-mit-css-select-listen-radio-buttons-und-checkboxen-individuell-gestalten/ */
/* remove standard-styles */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(select-arrow.png);
	/* URL relative to this style sheet location */
	background-position: right;
	background-repeat: no-repeat;
}

option {
	background-color: #eee
}

/* --------- JAVASCRIPT APPLICATION STYLES ------------*/
/* =================================================== */


/* --------- MODAL DIALOG STYLES ----------------------*/

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	margin-top: 5%;
	width: 75%;
	max-width: 800px; /* limit for large window sizes */
	margin-left: auto; /* 5% from the top and centered */
	margin-right: auto;
	margin-bottom: 5%;
	padding: 20px;
	border: 1px solid transparent;
	background-color: #fff;
}

/* The Close Button */
.closeModal {
	float: right;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 28px;
	font-weight: bold;
}

.closeModal:hover, .closeModal:focus {
	background-color: #a3b8cc;
	color: #0c0c0c;
	text-decoration: none;
	cursor: pointer;
}

/* --------- MENU BAR STYLES --------------------------*/

/* bars for the statistics bar chart */
.bar-container {
	width: 100%;
}

.bar {
	background-color: #261dc6;
}

/* Loader to show spinning circle instead of logo for a busy application */
.loader {
	border-radius: 50%;
	border-top: 10px solid #261dc6;
	border-bottom: 10px solid #261dc6;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	width: 40px;
	height: 40px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@
-webkit-keyframes spin { 0% {
	-webkit-transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
     }
}
@
keyframes spin { 0% {
	transform: rotate(0deg);
     }
100% {
	transform: rotate(360deg);
     }
}

/* --------- AUTOCOMPLETE ITEM STYLES -----------------*/

.autocomplete-items {
	border: 1px solid #a3b8cc;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #eee;
	border-bottom: 1px solid #a3b8cc;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
	background-color: #ffff44;
	color: #0c0c0c;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
	background-color: #ffff44 !important;
	color: #0c0c0c;
}

/* --------- FORM FIELD VALIDITY MARKER STYLES --------*/
.guid-valid {
	border-right: 15px solid #090;       /* RAG - green, for all apps the same */
}

.guid-off-period {
	border-right: 15px solid #fc0;       /* RAG - amber, for all apps the same */
}

.guid-not-found {
	border-right: 15px solid #c00;       /* RAG - red, for all apps the same */
}

.guid-not-checked {
	border-right: 15px solid #acacac;    /* RAG - gray, for all apps the same */
}
