
.display-only {
	border:1px solid transparent;
	bachkground-color:transparent;
}

.display-bold {
	font-weight:bold;
	border:1px solid transparent;
	bachkground-color:transparent;
}

.eventitem {
	cursor:pointer;
}

.configHead {
	cursor:pointer;
}